<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expatriate</title>
</head>
<body>
    <h1>My time on this world is short, I must not be stagnant.</h1>
    <form action="/countries" method="POST">
        <input type="text" placeholder="Country" name="country">
        <input type="text" placeholder="Quality of Life Index" name="qolindex">
        <button type="submit">Submit</button>
    </form>
    <div>
        <h2>In Native Swiss</h2>
        <p>
          Replace the first countries quote with 'Der Suisse'
        </p>
        <button id="update-button">Replace</button>
    </div>
    <div>
        <h2>Annex Country</h2>
        <p>
          This country and its history will be removed from the record.
        </p>
        <button id="delete-button">She gone</button>
    </div>
    <div id="message"></div>
    <h2>Countries</h2>
    <ul class="countries">
    <!-- Loop through countries -->
    <% for(var i = 0; i < countries.length; i++) {%>
        <li class="country">
            <!-- Output name from the iterated quote object -->
            <span><%= countries[i].country %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= countries[i].qolindex %></span>
        </li>
    <% } %>
    </ul>
    <script src="/main.js"></script>
</body>
</html>